:root {
    /* Colors */
    --white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);
}

* {
  font-family: 'Work Sans';  
}

body {
    margin: 0;
}

.flex-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-100);
}

.faq-container {
    height: min-content;
    width: 20.4375rem;
    background-color: var(--white);
    border-radius: .825rem;
}

.title-container {
    display: flex;
    align-items: center;
}

.star-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1.5rem;
}

h1 {
    font-size: 2rem;
    color: var(--purple-950);
    margin-left: 1.5rem;
}

h2{
    width: 14rem;
    color: var(--purple-950);
    font-size: 1rem;
    font-weight: 700;
    margin-left: 1.5rem;
}

h2:hover {
    color: var(--purple-600);
}

.btn-container {
    display: flex;
    flex-direction: column;
}

hr {
    border-color: var(--purple-100);
    border-width: 1px;
    width: 90%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--white);
    padding: 0;
}

button:hover {
    cursor: pointer;
}

.plus-icon {
    width: 1.875rem;
    height: 1.875rem;
}

p {
    font-size: .875rem;
    color: var(--purple-600);
    line-height: 150%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.question-display-flex {
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
